matplotlib==3.5.2
numpy==1.22.0
onnx==1.13.0
onnxruntime==1.10.0
opencv-python==4.5.5.64
PyQt5==5.15.4
pyqt5-tools==5.15.4.3.2
rembg==2.0.21
scikit-image==0.19.1
scipy==1.10.0
Pillow==10.3.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
pyinstaller==5.13.1
